<div>
    <md-input-container class="example-full-width">
        <input mdInput placeholder="Search Property" (keyup)='updateFilter($event)'>
    </md-input-container>
</div>
<div>
    <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
        (page)='setPage($event)'>
    </ngx-datatable>
</div>