<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <dough-nut [inputLabels]="labels" 
                [inputData]="data"></dough-nut>
            </div>
            <div class="col-md-3">
                <dough-nut [inputLabels]="labels" 
                [inputData]="data"></dough-nut>
            </div>
            <div class="col-md-5">
               <line-chart></line-chart>
            </div>
        </div>
    </div>
      <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <dough-nut [inputLabels]="labels" 
                [inputData]="data"></dough-nut>
            </div>
            <div class="col-md-3">
                <dough-nut [inputLabels]="labels" 
                [inputData]="data"></dough-nut>
            </div>
            <div class="col-md-5">
               <line-chart></line-chart>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <server-paging-demo></server-paging-demo>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>